<form action="/restaurants" method="POST">
  <input type="text" class="form-control" placeholder="name" name="name" required>
  <input type="text" class="form-control" placeholder="name_en" name="name_en" required>
  <input type="text" class="form-control" placeholder="category" name="category" required>
  <input type="url" class="form-control" placeholder="image" name="image" required>
  <input type="text" class="form-control" placeholder="location" name="location" required>
  <input type="text" class="form-control" placeholder="phone" name="phone" required>
  <input type="url" class="form-control" placeholder="google_map" name="google_map" required>
  <input type="text" class="form-control" placeholder="rating" name="rating" required>
  <input type="text" class="form-control" placeholder="description" name="description" required>
  <button type="submit">Create</button>
</form>